*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none}
kbd{
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-transform:uppercase;
    position: relative;
}
kbd>button{
    position: absolute;
    right:0;
    bottom: 0;
    display: none;
}
kbd:hover>button{
    display: inline-block;
}
body{
    background: rgba(218,222,223) url(walls.jpg) no-repeat center center;
    background-position: center center;
    background-size:cover;
 
}
main>.wrapper>div:nth-child(2){
    margin-left:-10px;
}
main>.wrapper>div:nth-child(3){
    margin-left:-70px;
}
main>.wrapper
{
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-radius: 16px;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.key{
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(17,17,17,1) 100%);
    border: 1px solid #373737;
    color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #1A1B1C,0 0 0 2px #1F2020,0 3px 0px 2px #080808;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
        }    
.key img{
    width:14px;
    height:14px;
    position: absolute;
    left:0;
    bottom:0;
}
.row{
        margin: 16px 
    }
.row .key{
        margin:0 6px;
    }
