.loading{
    height:200px;
    width:200px;
    position:relative;
  }
  .loading::before,.loading::after{
    content:'';
    position:absolute;
    height:0px;
    width:0px;
    background:black;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    border-radius:50%;
    animation:s 1.5s linear infinite;
  }
  .loading::after{
    animation-delay:0.5s;
  }
  @keyframes s{
    0%{
      width: 0px; 
      height:0px;
      opacity:1;
    }
    100%{
      width: 100px; 
      height:100px;
      opacity:0
    }
    
    
  }